@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color) !important;
}

ul,
ol{
    margin: 0;
    padding: 0;
}


/* 
===================
variable define
===================
*/


:root {
    --primary-color: #AB2C4b;
    --secondary-color: #43121d;
    --third-color: #f98169;
    --white-color: #fff;
    --text-color: #555;
    --black-color: #e0e0e0;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
};

html {
    scroll-behavior: smooth;
}


body {
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}


/* 
===================
custom scroll bar
===================
*/

::-webkit-scrollbar{
    width : 0.625rem;
}

::-webkit-scrollbar-track{
    background: var(--white-color);
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}


/* 
===================
custom CSS design
===================
*/

h1{
    font-size: 3rem;
    font-weight:900;
    margin-bottom: 3rem;
    color: var(--secondary-color);
}

h2{
    font-size: 2.5rem;
    font-weight:700;
    text-transform: capitalize;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    line-height: 3rem;

}

h4{
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

h5{
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

p{
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 1px;

}

.main-btn{
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600; 
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
     transition: all 0.4s ease 0s;
}

.white-btn{
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--white-color);
    border: 0.1875rem solid var(--primary-color);
    color: var(--primary-color);
    font-size: 0.9375rem;
    font-weight: 600; 
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
     transition: all 0.4s ease 0s;
}

.main-btn:hover{
    background-color: transparent;
    color: var(--primary-color);
}

.white-btn:hover{
    background-color: var(--primary-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.wrapper{
   padding-top: 8.25rem;
   padding-bottom: 8.25rem;
}

.text-content{
    width: 70%;
    margin: auto;
}

.counter-section h2,
.testimonial-section h2,
.book-food-text h2{
    color: var(--white-color);
}

/* 
=========================
Header section Design
=========================
*/
.navigation-wrap{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}
.navigation-wrap .nav-item{
    padding: 0 0.625rem;
    transition: all 300ms linear;
}
.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
}
.nav-link{
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary-color);
    letter-spacing: 1px;

}

.navigation-wrap .main-btn{
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin: 0.625rem;
}


/* Change navbar styling on scroll */

.navigation-wrap.scroll-on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white-color);
    box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.9);
    transition: all .15s ease-in-out 0s;
}


/* 
=========================
Counter Design
=========================
*/





